extends ../main.layout.pug

block variables
  - var title = 'Обо мне';

block scripts
  script(src='about.bundle.js')

block content
  include ../common/header.pug
  section.about
    .about__col.about__col--info
      .about__title.title-block
        +icon('about_header', 'title-icon title-icon--lighter')
        h2.title Обо мне
      article.about__desc
        .user-desc
          +image('content/about-photo.png', 'image of mine', 'user-desc__image')
          .user-desc__info
            .user-desc__title
              h3.subtitle Кто я
            .user-desc__text
              p.description-text 
                != 'Я веб разработчик из Ижевска. Мне 28 лет. <br>Я занимаюсь разработкой современных сайтов <br>и приложений. Мне нравится делать интересные <br>и современные проекты.'
              p.description-text 
                != 'Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,<br>как тут всё классно и красиво!'

    .about__col.about__col--skills
      .about__skills-title
        h3.subtitle 
          != 'Чем я могу быть <br>вам полезен'
      .about__skills-description
        p.description-text
          != 'Больше всего меня привлекет Frontend разработка, но я также знаком <br>и могу решать не сложные задачи на Backend. Но давайте по порядку.'
      article.about__skills-container
        ul.skills
          -
            var skills = [
              ['Frontend', [['HTML5', 90], ['CSS3', 70], ['JavaScript & JQuery', 60]]],
              ['Backend', [['PHP', 10], ['mySQL', 10], ['Node.js<br>& npm', 40], ['Mongo.db', 5]]],
              ['Workflow', [['Git', 80], ['Gulp', 60], ['Bower', 30]]]
            ];
          each item in skills
            li.skills__item
              .skills-row
                b.skills-row__title #{item[0]}
                ul.skills-row__list
                  each skill in item[1]
                    - var persentage = (100 - skill[1]) * 2.83;
                    - var opacity = skill[1] / 100;
                    - if (opacity < 0.3) opacity = 0.3
                    li.skills-row__item
                      svg.skill(viewBox='0 0 110 110', width='110', height='110')
                        circle.skill__achievement(r='45', cx='50%', cy='50%')
                        circle.skill__progress(r='45', cx='50%', cy='50%', style= `stroke-dashoffset: ${persentage}; stroke: rgba(116, 161, 100, ${opacity}`)
                      span.skill-name(x='50%', y='50%')
                        != `${skill[0]}`
                        
  section.contacts
    .google-map#map
    .contacts__container
      .user-data
        .user-data__title
          h2.subtitle Контакты
        .user-data__container
          ul.user-contacts-list
            each item, index in ['skype', 'envelope2', 'phone2', 'map_marker']
              - var titles = ['hariysbit', 'max.uteev@yandex.ru', '+7 963 546 14 13', 'Ижевск'];
              li.user-contacts-list__item
                .contacts-cell
                  +icon(item, 'contacts-cell__icon')
                  span.contacts-cell__title #{titles[index]}